@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
  /* плавний скрол */
  scroll-behavior: smooth;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #000;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  background-color: #f4f4f5;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 31px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E3E3E3;
}
.top-header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 20px;
  height: 20px;
  background: url("../img/header.img/search.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (any-hover: hover) {
  .top-header__search:hover {
    scale: 1.5;
  }
}
.top-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 180px;
      flex-basis: 180px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.top-header__logo img {
  width: 100%;
  height: 100%;
  aspect-ratio: 180/34;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  color: #1E2832;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
@media (max-width: 750px) {
  .profile {
    gap: 10px;
  }
}
.profile__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
@media (any-hover: hover) {
  .profile__item :hover {
    text-decoration: underline;
  }
}
@media (max-width: 750px) {
  .profile__item span {
    display: none;
  }
}
.profile__img {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.bottom-header {
  padding-top: 30px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  text-transform: capitalize;
}
@media (max-width: 1099px) {
  .bottom-header {
    display: none;
    position: fixed;
    left: 0;
    top: 91px;
    bottom: 0;
    right: 0;
    background-color: rgba(244, 244, 245, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    padding-top: 30px;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
  }
  .menu-open .bottom-header {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1099px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
@media (any-hover: hover) {
  .nav__item :hover {
    text-decoration: underline;
  }
}
.burger {
  display: none;
}
@media (max-width: 1099px) {
  .burger {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 10;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 1099px) {
  .burger__line {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #000;
    height: 3px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .burger__line:nth-child(1) {
    top: 0;
  }
  .burger__line:nth-child(2) {
    top: 10px;
  }
  .burger__line:nth-child(3) {
    top: 10px;
  }
  .burger__line:nth-child(4) {
    top: 20px;
  }
}

.menu-open .burger__line:nth-child(1) {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}
.menu-open .burger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-open .burger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu-open .burger__line:nth-child(4) {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.top-mine {
  padding-top: 145px;
  padding-bottom: 80px;
  background: url("../img/top_mine.img/bg_l.svg") 0% 85%/auto no-repeat, url("../img/top_mine.img/bg_r.svg") 100% 65%/auto no-repeat;
  background-color: rgba(30, 40, 50, 0.05);
}
@media (max-width: 999px) {
  .top-mine {
    background: url("../img/top_mine.img/bg_l.svg") 0% 30%/auto no-repeat, url("../img/top_mine.img/bg_r.svg") 100% 15%/auto no-repeat;
  }
}
.top-mine__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (min-width: 78.75em) {
  .top-mine__container {
    gap: 6.125rem;
  }
}
@media (min-width: 62.4375em) and (max-width: 78.75em) {
  @supports (gap: clamp( 0.625rem , -20.4267241379rem  +  33.7164750958vw , 6.125rem )) {
    .top-mine__container {
      gap: clamp( 0.625rem , -20.4267241379rem  +  33.7164750958vw , 6.125rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , -20.4267241379rem  +  33.7164750958vw , 6.125rem )) {
    .top-mine__container {
      gap: calc(0.625rem + 5.5 * (100vw - 62.4375rem) / 16.3125);
    }
  }
}
@media (max-width: 62.4375em) {
  .top-mine__container {
    gap: 0.625rem;
  }
}
@media (min-width: 78.75em) {
  .top-mine__container {
    padding-top: 5rem;
  }
}
@media (min-width: 62.4375em) and (max-width: 78.75em) {
  @supports (padding-top: clamp( 0.0000000625rem , -19.1379307328rem  +  30.651340613vw , 5rem )) {
    .top-mine__container {
      padding-top: clamp( 0.0000000625rem , -19.1379307328rem  +  30.651340613vw , 5rem );
    }
  }
  @supports not (padding-top: clamp( 0.0000000625rem , -19.1379307328rem  +  30.651340613vw , 5rem )) {
    .top-mine__container {
      padding-top: calc(0.0000000625rem + 4.9999999375 * (100vw - 62.4375rem) / 16.3125);
    }
  }
}
@media (max-width: 62.4375em) {
  .top-mine__container {
    padding-top: 0.0000000625rem;
  }
}
@media (max-width: 999px) {
  .top-mine__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.item-top__information {
  color: #000;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 682px;
          flex: 0 1 682px;
}
@media (max-width: 999px) {
  .item-top__information {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
  }
}
.item-top__title {
  font-size: 74px;
  font-weight: 300;
  line-height: 74.324%;
  text-transform: capitalize;
  margin-bottom: 52px;
}
@media (min-width: 37.5em) {
  .item-top__title {
    font-size: 4.625rem;
  }
}
@media (min-width: 21.875em) and (max-width: 37.5em) {
  @supports (font-size: clamp( 3.375rem , 1.625rem  +  8vw , 4.625rem )) {
    .item-top__title {
      font-size: clamp( 3.375rem , 1.625rem  +  8vw , 4.625rem );
    }
  }
  @supports not (font-size: clamp( 3.375rem , 1.625rem  +  8vw , 4.625rem )) {
    .item-top__title {
      font-size: calc(3.375rem + 1.25 * (100vw - 21.875rem) / 15.625);
    }
  }
}
@media (max-width: 21.875em) {
  .item-top__title {
    font-size: 3.375rem;
  }
}
.item-top__text {
  font-size: 30px;
  font-weight: 400;
  line-height: 183.333%;
  text-transform: capitalize;
  margin-bottom: 66px;
}
@media (min-width: 37.5em) {
  .item-top__text {
    font-size: 1.875rem;
  }
}
@media (min-width: 21.875em) and (max-width: 37.5em) {
  @supports (font-size: clamp( 1.25rem , 0.375rem  +  4vw , 1.875rem )) {
    .item-top__text {
      font-size: clamp( 1.25rem , 0.375rem  +  4vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 0.375rem  +  4vw , 1.875rem )) {
    .item-top__text {
      font-size: calc(1.25rem + 0.625 * (100vw - 21.875rem) / 15.625);
    }
  }
}
@media (max-width: 21.875em) {
  .item-top__text {
    font-size: 1.25rem;
  }
}
.item-top__button {
  padding: 19px 26px;
  background-color: #1E2832;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (any-hover: hover) {
  .item-top__button:hover {
    background-color: #FF6F61;
  }
}
.item-top__button span {
  font-size: 29px;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.item-top__button span::before {
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/top_mine.img/shop.svg") 0 50%/100% no-repeat;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.item-top__picture {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 424px;
          flex: 0 1 424px;
  max-height: 542px;
  border-radius: 160px 0 160px 0;
  margin-right: 15px;
}
.item-top__picture::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 160px 0 160px 0;
  border: 2px solid rgba(0, 0, 0, 0.25);
  left: 18px;
  top: 20px;
}
.item-top__picture img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 160px 0 160px 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 424/542;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.brand {
  background: #fff;
}
@media (min-width: 62.4375em) {
  .brand {
    padding-top: 5.625rem;
  }
}
@media (min-width: 21.875em) and (max-width: 62.4375em) {
  @supports (padding-top: clamp( 0.0000000625rem , -3.0335130009rem  +  13.8674882897vw , 5.625rem )) {
    .brand {
      padding-top: clamp( 0.0000000625rem , -3.0335130009rem  +  13.8674882897vw , 5.625rem );
    }
  }
  @supports not (padding-top: clamp( 0.0000000625rem , -3.0335130009rem  +  13.8674882897vw , 5.625rem )) {
    .brand {
      padding-top: calc(0.0000000625rem + 5.6249999375 * (100vw - 21.875rem) / 40.5625);
    }
  }
}
@media (max-width: 21.875em) {
  .brand {
    padding-top: 0.0000000625rem;
  }
}
@media (min-width: 62.4375em) {
  .brand {
    padding-bottom: 5.625rem;
  }
}
@media (min-width: 21.875em) and (max-width: 62.4375em) {
  @supports (padding-bottom: clamp( 0.0000000625rem , -3.0335130009rem  +  13.8674882897vw , 5.625rem )) {
    .brand {
      padding-bottom: clamp( 0.0000000625rem , -3.0335130009rem  +  13.8674882897vw , 5.625rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.0000000625rem , -3.0335130009rem  +  13.8674882897vw , 5.625rem )) {
    .brand {
      padding-bottom: calc(0.0000000625rem + 5.6249999375 * (100vw - 21.875rem) / 40.5625);
    }
  }
}
@media (max-width: 21.875em) {
  .brand {
    padding-bottom: 0.0000000625rem;
  }
}
.brand__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 72px;
     -moz-column-gap: 72px;
          column-gap: 72px;
  row-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.brand__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  height: 70px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.brand__img {
  width: 100%;
  height: 100%;
  aspect-ratio: 200/70;
  -o-object-fit: contain;
     object-fit: contain;
}

.hot {
  background: #fff;
}
.hot__container {
  position: relative;
}
.hot__title {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: -300px;
  bottom: 290px;
}
@media (min-width: 50em) {
  .hot__title {
    font-size: 2.125rem;
  }
}
@media (min-width: 22.1875em) and (max-width: 50em) {
  @supports (font-size: clamp( 1rem , 0.1025280899rem  +  4.0449438202vw , 2.125rem )) {
    .hot__title {
      font-size: clamp( 1rem , 0.1025280899rem  +  4.0449438202vw , 2.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.1025280899rem  +  4.0449438202vw , 2.125rem )) {
    .hot__title {
      font-size: calc(1rem + 1.125 * (100vw - 22.1875rem) / 27.8125);
    }
  }
}
@media (max-width: 22.1875em) {
  .hot__title {
    font-size: 1rem;
  }
}
@media (max-width: 1365px) {
  .hot__title {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    position: relative;
    left: 0px;
    bottom: 0px;
    padding: 10px 0;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media (max-width: 999px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media (max-width: 500px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  position: relative;
}
.card:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
@media (max-width: 500px) {
  .card:nth-child(1) {
    grid-column: span 1;
    grid-row: span 1;
  }
}
.card__img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__lable {
  position: absolute;
  left: 0;
  padding: 4px 12px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.card__lable--red {
  top: 22px;
  background-color: #FF6F61;
}
.card__lable--black {
  top: 52px;
  background-color: #1E2832;
}
.card:hover .hover {
  opacity: 1;
  padding: 15px 14px;
}

.hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1E2832;
  color: #fff;
  padding: 0px 14px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
}
.produckts {
  padding: 140px 0;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
@media (max-width: 520px) {
  .produckts {
    padding: 40px 0;
  }
}
.produckts__title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 40px;
}
@media (min-width: 46.25em) {
  .produckts__title {
    font-size: 3.125rem;
  }
}
@media (min-width: 21.875em) and (max-width: 46.25em) {
  @supports (font-size: clamp( 1.375rem , -0.1955128205rem  +  7.1794871795vw , 3.125rem )) {
    .produckts__title {
      font-size: clamp( 1.375rem , -0.1955128205rem  +  7.1794871795vw , 3.125rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , -0.1955128205rem  +  7.1794871795vw , 3.125rem )) {
    .produckts__title {
      font-size: calc(1.375rem + 1.75 * (100vw - 21.875rem) / 24.375);
    }
  }
}
@media (max-width: 21.875em) {
  .produckts__title {
    font-size: 1.375rem;
  }
}
.produckts__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 24px;
}
@media (max-width: 999px) {
  .produckts__content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
@media (max-width: 500px) {
  .produckts__content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.filter-produckts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 520px) {
  .filter-produckts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.filter-produckts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 520px) {
  .filter-produckts__list {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.filter-produckts__btn {
  text-transform: capitalize;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: 600;
}
.filter-produckts__btn:not(:first-child) {
  color: rgba(0, 0, 0, 0.5);
}
.filter-produckts__filter {
  text-transform: capitalize;
  padding: 5px 15px;
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}
.filter-produckts__filter::before {
  content: "";
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url("../img/products.img/icon.svg") 0 50%/100% no-repeat;
}

.card-produckts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 18px;
}
.card-produckts__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 312/400;
}
.card-produckts__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-produckts__subtitle {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.card-produckts__lable {
  position: absolute;
  left: 0;
  padding: 4px 12px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.card-produckts__lable--red {
  top: 22px;
  background-color: #FF6F61;
}
.card-produckts__lable--black {
  top: 52px;
  background-color: #1E2832;
}

.price-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.price-products__price--old {
  color: rgba(0, 0, 0, 0.5);
}
.price-products__price--new {
  color: #FF6F61;
}

.baner {
  min-height: 48.5rem;
  background: url("../img/baner.img/bg_baner.png") no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}
.baner__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.baner__container::after {
  content: "";
  max-width: 42.25rem;
  width: 100%;
  height: 19.3125rem;
  top: 0;
  right: 0;
  background: url("../img/baner.img/baner_big_logo.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
}
.baner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.4375rem;
  max-width: 40%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
@media (max-width: 62.4375rem) {
  .baner__content {
    max-width: 65%;
  }
}
@media (max-width: 31.25rem) {
  .baner__content {
    max-width: 100%;
  }
}
.baner__text {
  line-height: 1.5;
}
@media (min-width: 50em) {
  .baner__text {
    font-size: 1.625rem;
  }
}
@media (min-width: 31.25em) and (max-width: 50em) {
  @supports (font-size: clamp( 1.25rem , 0.625rem  +  2vw , 1.625rem )) {
    .baner__text {
      font-size: clamp( 1.25rem , 0.625rem  +  2vw , 1.625rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 0.625rem  +  2vw , 1.625rem )) {
    .baner__text {
      font-size: calc(1.25rem + 0.375 * (100vw - 31.25rem) / 18.75);
    }
  }
}
@media (max-width: 31.25em) {
  .baner__text {
    font-size: 1.25rem;
  }
}
@media (max-width: 31.25rem) {
  .baner__text {
    font-size: 1.25rem;
  }
}
.baner__button {
  color: #1e2832;
  font-size: 1.8125rem;
  background: #fff;
  padding: 19px 26px;
  text-transform: capitalize;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.slider {
  padding: 8.75rem 0;
  background: #fff;
  font-family: "Open Sans", sans-serif;
}
.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.1875rem;
  position: relative;
}
.slider__title {
  font-size: 3.125rem;
  font-weight: 500;
  text-align: center;
}
.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
}

.filter-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}
.filter-slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 32.5rem) {
  .filter-slider__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.filter-slider__btn {
  text-transform: capitalize;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: 600;
}
.filter-slider__btn:not(:first-child) {
  color: rgba(0, 0, 0, 0.5);
}
.filter-slider__btn-all {
  text-transform: capitalize;
  font-weight: 400;
  padding: 5px 15px;
  background-color: #1e2832;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.card-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.125rem;
  -ms-flex-preferred-size: 19.5rem;
      flex-basis: 19.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.card-slider__lable {
  position: absolute;
  left: 0;
  padding: 4px 12px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.card-slider__lable--red {
  top: 22px;
  background-color: #FF6F61;
}
.card-slider__lable--black {
  top: 52px;
  background-color: #1E2832;
}
.card-slider__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 312/400;
}
.card-slider__title {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.card-slider__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-slider__subtitle {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}

.arrow-left, .arrow-right {
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
}

.arrow-left {
  background: url("../img/slider.img/arrow_left.svg") no-repeat;
  left: 1.25rem;
}

.arrow-right {
  background: url("../img/slider.img/arrow_right.svg") no-repeat;
  right: 1.25rem;
}

.price-slider__price {
  font-weight: 600;
  color: #000;
}
.price-slider__price--old {
  text-decoration-line: line-through;
}
.price-slider__price--new {
  color: #FF6F61;
}

.instagram {
  padding: 6.25rem 0;
  background-color: #f4f4f5;
  font-family: "Roboto", sans-serif;
}
.instagram__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.instagram__title, .instagram__title-form {
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
}
@media (min-width: 81.375em) {
  .instagram__title, .instagram__title-form {
    font-size: 3.125rem;
  }
}
@media (min-width: 22.0625em) and (max-width: 81.375em) {
  @supports (font-size: clamp( 1.25rem , 0.5525553214rem  +  3.1612223393vw , 3.125rem )) {
    .instagram__title, .instagram__title-form {
      font-size: clamp( 1.25rem , 0.5525553214rem  +  3.1612223393vw , 3.125rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 0.5525553214rem  +  3.1612223393vw , 3.125rem )) {
    .instagram__title, .instagram__title-form {
      font-size: calc(1.25rem + 1.875 * (100vw - 22.0625rem) / 59.3125);
    }
  }
}
@media (max-width: 22.0625em) {
  .instagram__title, .instagram__title-form {
    font-size: 1.25rem;
  }
}
.instagram__content {
  padding-top: 3.75rem;
  padding-bottom: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.instagram__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 12.5rem;
      flex-basis: 12.5rem;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}
.instagram__card:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.instagram__card:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background-color: rgba(0, 0, 0, 0.5);
}
.instagram__card:hover .instagram__img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.instagram__card::before {
  content: "";
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../img/instagram.img/icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.instagram__card::after {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
.instagram__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 200/200;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.instagram__title-form {
  margin-bottom: 4.625rem;
}
.instagram .input-instagram {
  border-bottom: 2px solid #000;
  padding: 0.9375rem;
  -ms-flex-preferred-size: 40.1875rem;
      flex-basis: 40.1875rem;
}
.instagram .input-instagram::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: normal;
}
.instagram .input-instagram::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: normal;
}
.instagram .input-instagram:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: normal;
}
.instagram .input-instagram::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: normal;
}
.instagram .input-instagram::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: normal;
}
.instagram .btn-instagram {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  padding: 0.9375rem;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  padding-top: 8.75rem;
  font-family: "Open Sans", sans-serif;
}

.top-footer {
  margin-bottom: 5.625rem;
}
.top-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.address-footer {
  max-width: 24.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.address-footer__title {
  width: 11.25rem;
  height: 2.125rem;
  background: url("../img/footer.img/logo.svg") 0 50%/100% no-repeat;
}
.address-footer__text {
  font-style: normal;
}
.address-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.25rem;
}
.address-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.5625rem;
  height: 1.5625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.address-footer__link:nth-child(1) {
  background: url("../img/footer.img/fb.svg") 0 0/100% no-repeat;
}
.address-footer__link:nth-child(2) {
  background: url("../img/footer.img/tvit.svg") 0 0/100% no-repeat;
}
.address-footer__link:nth-child(3) {
  background: url("../img/footer.img/in.svg") 0 0/100% no-repeat;
}
.address-footer__link:nth-child(4) {
  background: url("../img/footer.img/insta.svg") 0 0/100% no-repeat;
}
.address-footer__link:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nav-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.375rem;
}
.nav-footer__title {
  color: #000;
  font-weight: 600;
}
.nav-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}
.nav-footer__link {
  font-size: 0.875rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-footer__link:hover {
  color: #ff6f61;
}

.bottom-footer {
  background-color: #1e2832;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}
.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 38.75rem) {
  .bottom-footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.bottom-footer__2022 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 8.5625rem;
      flex-basis: 8.5625rem;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.bottom-footer__2022 img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 137/22;
}
.bottom-footer__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 17.6875rem;
      flex-basis: 17.6875rem;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bottom-footer__payment:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.bottom-footer__payment img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 283/24;
}

.scroll-top {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.scroll-top::after {
  content: "";
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url("../img/footer.img/arrow_up.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.scroll-top:hover {
  color: #ff6f61;
}