@use "sass:math";

// Підключення шрифтів з Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// Скидання стилів
@import "_reset.scss";
// Міксіни
@import "_mixins.scss";
// Окремі сторінки
// @import "_home.scss";
// Окремі компоненти
// @import "_header.scss";
// @import "_footer.scss";
// ...

// Налаштування адаптивної сітки ==========================================================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1290;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================

body {
	background-color: #333;
	color: #fff;
	font-family: "Roboto", sans-serif;

	opacity: 0;
	transition: opacity 2s ease;

}
.loaded {
	opacity: 1;
 }

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

/* ------------------------- */

[class*="__container"] {
	max-width: 82.5rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin: 0 auto;
}
/* ------------------------ */


.header {
	background-color: black;
	width: 100%;
	padding: 1.25rem 0;
	border-bottom: 0.125rem solid lightgray;
	position: fixed;

	// .header__container
	&__container {
	}

	// .header__title
	&__title {
		font-size: 2rem;
	}
}

.page {
	padding-top: 5.5rem;
	margin-bottom: 1.25rem;

	// .page__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.task {
	border: 0.125rem solid lightgray;
	border-radius: 0.625rem;
	padding: 0.625rem;
	&:not(:last-child){margin-bottom: 1.25rem;}
	width: 80vw;

	// .task__title
	&__title {
		font-size: 20px;
		margin-bottom: 1.25rem;
	}

	.element{
		padding: 0.625rem 1.25rem;
		border: 2px solid #fff;
		border-radius: 0.3125rem;
		&:not(:last-child){margin-bottom: 0.625rem;}
		max-width: max-content;
		cursor: pointer;
	}

	.active {
		background-color: yellowgreen;
		border-color: #fff;
  }

  .item{
	height: 200px;
	width: 1px;
	border-radius: 5px;
	margin: 10px;
	background-color: yellowgreen;
	opacity: 0;
	transition: all 0.3s;
	font-size: 60px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;

	&.animate{
		opacity: 1;
		width: 200px;
	}
  }

  .img{
	width: 800px;
	height: 800px;
	overflow: hidden;
  }
}

img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	// aspect-ratio: 400 / 400;
}


.question {
	font-size: 1.125rem;
	margin-bottom: 0.625rem;
}

.answer {
	font-size: 1.125rem;
	font-weight: 700;
	color: greenyellow;
	span{
		font-weight: 400;
		color: #fff;
		padding-left: 1.25rem;
	}
}

.footer{
	text-align: center;
	padding: 1.875rem 0;
	background-color: #000;
	text-transform: uppercase;
	transition: 0.5s ease;
	font-weight: bold;
	letter-spacing: 0.9375rem;
}