@use "sass:math";

// Підключення шрифтів з Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// Скидання стилів
@import "_reset.scss";
// Міксіни
@import "_mixins.scss";
// Окремі сторінки
// @import "_home.scss";
// Окремі компоненти
// @import "_header.scss";
// @import "_footer.scss";
// ...

// Налаштування адаптивної сітки ==========================================================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1290;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================

body {
	background-color: #333;
	color: #fff;
	font-family: "Roboto", sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/* ------------------------- */
[class*="__container"] {
	max-width: 82.5rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin: 0 auto;
}
/* ------------------------ */


.header {
	background-color: black;
	width: 100%;
	padding: 1.25rem 0;
	border-bottom: 0.125rem solid lightgray;

	// .header__container
	&__container {
	}

	// .header__title
	&__title {
		font-size: 2rem;
	}
}

.page {
	padding-top: 2.5rem;

	// .page__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.task {
	border: 0.125rem solid lightgray;
	border-radius: 0.625rem;
	padding: 0.625rem;
	&:not(:last-child){margin-bottom: 1.25rem;}
	width: 60vw;

	// .task__title
	&__title {
		font-size: 1.75rem;
		margin-bottom: 1.25rem;
	}
}

.question {

	// .question__title
	&__title {
		font-size: 1.375rem;
		margin-bottom: 0.625rem;
	}

	// .question__list
	&__list {
		margin-bottom: 0.9375rem;
	}

	// .question__item
	&__item {
		padding: 0.3125rem 0;
	}
}

.answer {
	font-size: 1.375rem;
	font-weight: 700;
	color: greenyellow;
	span{
		font-weight: 400;
		color: #fff;
		font-style: italic;
		padding-left: 1.25rem;
	}
}
