.portfolio {
	background: $bgColor;
	@include adaptiveValue("padding-top", 200, 80, 0, 1302, 353);
	@include adaptiveValue("padding-bottom", 200, 80, 0, 1302, 353);

	// .portfolio__title
	&__title {
		margin-bottom: 120px;
		padding-bottom: 20px;
		position: relative;
		font-family: "Exo", sans-serif;
		@include adaptiveValue("font-size", 60, 24, 0, 1302, 353);
		font-weight: 700;
		line-height: 1.25; /* 125% */
		text-transform: uppercase;
		&::after{
			content: '';
			@include adaptiveValue("width", 571, 193, 0, 1302, 353);
			height: 1px;
			background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
			position: absolute;
			left: 0;
			bottom: 0px;
		}
	}
}

.video {
	display: flex;
	column-gap: 40px;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;

	// .video__item
	&__item {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 40px;
		&:hover .video__link{
			border: 10px solid #9700FF;
		}
		&:hover .video__link::after{
			background-color: rgba(0, 0, 0, 0.80);
		}
		&:hover .video__title{
			color: #9700FF;
		}
		&:hover .video__link::before{
			transform: translateY(-25px);
		}
		&:hover .video__play{
			transform: translateY(60px) scale(1);
		}
	}

	// .video__link
	&__link {
		@include adaptiveValue("width", 369, 193, 0, 1302, 353);
		flex-shrink: 0;
		align-self: flex-start;
		justify-content: center;
		align-items: center;
		display: flex;
		position: relative;
		transition: all 0.3s ease;
		border: 0px solid #9700FF;

		&::before{
			content: '';
			@include adaptiveValue("width", 100, 64, 0, 1302, 353);
			@include adaptiveValue("height", 100, 64, 0, 1302, 353);
			flex-shrink: 0;
			background-image: url('../img/portfolio.img/Vector.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: absolute;
			transition: all 0.3s ease;
			z-index: 2;
		}

		&::after{
			content: '';
			background-color: rgba(0, 0, 0, 0.0);
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			transition: all 0.3s ease;
			z-index: 1;
		}
	}

	// .video__img
	&__img {
		width: 100%;
		aspect-ratio: 360 / 360;
		object-fit: contain;
	}

	// .video__play
	&__play{
		position: absolute;
		flex-shrink: 0;
		color: #FFF;
		font-family: "Exo", sans-serif;
		font-size: 40px;
		font-weight: 700;
		line-height: 1; /* 100% */
		text-transform: uppercase;
		z-index: 2;
		transform: translateY(60px) scale(0);
		transition: all 0.3s ease;
	}

	// .video__title
	&__title {
		font-family: "Exo", sans-serif;
		@include adaptiveValue("font-size", 40, 14, 0, 1302, 353);
		font-weight: 700;
		line-height: 1; /* 100% */
		text-transform: uppercase;
		transition: all 0.3s ease;
	}
}
